@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Prata&display=swap');

//vars font
$mainFont:'Comfortaa', cursive;
$titulosFont: 'Prata', serif;

//sizes
$textXs: 0.5em;
$textSm: 0.8em;
$textMd: 1em;
$textLg: 1.5em;
$textXl: 2.8em;

